// Ess-geneve Colors
$rouge:#CC0000;
$blanc:#fff;
$texte_noir:#3E3E3E;
$noir:#000;

// Hovers
// $link
// $visit
// $hover
// $active

// Info colors
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
